.alert-container {
	max-width: 608px;
	max-height: 40px;
	margin-top: 10px;
	background: #fff;
	border-radius: 2px;
}

.play-again-modal .ant-modal-body {
	text-align: center;
}
.play-again-modal .ant-modal-footer,
.another-game-modal .ant-modal-header,
.another-game-modal .ant-modal-footer {
	border: none;
}

.another-game-modal .ant-modal-body {
	display: none;
}
