.board-container {
	grid-row: 1 / -1;
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

@media (max-width: 720px) {
	.board-container {
		grid-row: 2 / 3;
		grid-column: unset;
	}
}

.chess-board {
	padding: 24px;
	background: #fff;
	border-radius: 8px;
}

.ant-alert-message {
	font-size: 16px;
	font-weight: 500;
}

.board-buttons {
	display: flex;
	justify-content: center;
	column-gap: 4px;
	background-color: #fff;
	border-radius: 8px;
	padding: 8px 0;
}
