.chess-board {
	max-width: 608px;
	margin-top: 10px;
	margin-bottom: 30px;
	min-height: 280px;
	padding: 24px;
	background: #fff;
	border-radius: 2px;
}

.ant-alert-message {
	font-size: 16px;
	font-weight: 500;
}
