.lobby-container {
	width: 1000px;
	margin-top: 30px;
	margin-bottom: 30px;
	min-height: 280px;
	padding: 24px;
	background: #fff;
	border-radius: 2px;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
	box-shadow: unset !important;
	-webkit-box-shadow: unset !important;
}
