.ant-layout {
	min-height: 100vh;
}

.layout-header .logo {
	color: #fff;
	font-size: 20px;
}

.layout-header,
.layout-header .logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}

.layout-content {
	padding: 10px 50px;
}

/* Media query for screens below 720px */
@media (max-width: 720px) {
	.layout-content {
		padding: 5px 20px;
	}
}

.layout-footer {
	color: #fff;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #0d2943;
	text-align: center;
}

.layout-footer a {
	color: #fff;
}

.layout-footer a:hover {
	color: #1890ff;
}
