.message-box {
	background: #f3f3f3;
	border-radius: 3px;
	padding: 1px 7px;
	color: white;
	display: inline-block;
	max-width: 80%;
}

.message-box p {
	margin: unset;
}

.message-text {
	width: 100%;
	letter-spacing: 0.3px;
	float: left;
	font-size: 1.1em;
	word-wrap: break-word;
}

.message-text img {
	vertical-align: middle;
}

.message-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 5%;
	margin-top: 3px;
}

.sent-text {
	display: flex;
	align-items: center;
	font-family: Helvetica;
	color: #828282;
	letter-spacing: 0.3px;
	font-size: 12px;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.color-white {
	color: white;
}

.color-dark {
	color: #353535;
}

.background-blue {
	background: #2979ff;
}

.background-light {
	background: #f3f3f3;
}

.background-light-blue {
	background: #c1eaf0;
}
